// Body

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// colors
$success: #43d685;
$secondary: #07302a;

$primary: hsl(147, 51%, 42%);
$breadcrumb-divider-color: #fff;


// purple rain premium
$info: #6c5ce7;

